
.space-desc-details{
	padding-top:20px;
	font-family:open-sans, roboto;
}

.mapDiv{
	height:400px;
}

.detailsPane, .bookSpace{
	display:inline-block;
}

.bookSpace{
	background-color:#c0c0c0;
	height:200px;
}