
.space-desc-details{
	padding-top:20px;
	font-family:open-sans, roboto;
}

.mapDiv{
	min-height:200px;
	height:auto;
}

.detailsPane, .bookSpace{
	display:inline-block;
}

.bookSpace{
	background-color:#c0c0c0;
}

.imgDimension{
	width:100%;
	height:350px;
    background-size: cover;
    background-position: center;
}

.reserveBtn {
	display: none;
	margin:0 auto;
}

.btnBook{
	margin-top: 20px;
    padding: 10px;
}

.signup-pad{
	margin-top: -6px;
}

.padTop{
	padding:3px;
}

.bookSpace{
	margin-top: 20px;
	padding: 12px;
}

.verticalLine{
	border-left:2px solid gray;
}

.total-price{
	padding-top: 20px;
	width:100%;
	display:none;
}
.date-sel{
	max-width:100%;
}

.startTime, .endTime{
	width:100%;
	text-indent:30px;
}

.padPrice{
	padding-top: 5px;
    padding-bottom: 5px;
}

.spaceBottom{
	margin-bottom:40px;
}