
.space-desc-details{
	padding-top:20px;
	font-family:open-sans, roboto;
}

.mapDiv{
	height:auto;
}

.detailsPane, .bookSpace{
	display:inline-block;
}

.bookSpace{
	background-color:#c0c0c0;
	height:200px;
}

.imgDimension{
	width:100%;
	height:350px;
}

.signup-pad{
	margin-top: -6px;
}

.padTop{
	padding:3px;
}

.bookSpace{
	padding: 12px;
}

.verticalLine{
	border-left:2px solid gray;
}

.total-price{
	width:100%;
	display:none;
}
.date-sel{
	max-width:100%;
}

.startTime, .endTime{
	width:100%;
	text-indent:30px;
}