*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html{   
	background-color:#FCFCFC;
}

.heading{
	text-align:center;
}

.footer-content{
	padding-top: 20px;
	background-color: #4b4b4b;
	color:#fff;
}
footer{
	min-height:100px;
	background-color: #4b4b4b;
	margin-top:-2px;
}

.navbar{
	/*float: right !important;*/
	/*margin-top: -52px;
	margin-right: 40px;*/
}

.homeLink{
	text-decoration: none;
	cursor:pointer;
	color:#000;
}


.navbar li a{
	text-decoration:none;
	color:#000;
}

.navbar li{
	list-style-type: none;
	display: inline;
	padding-left:20px;
}

.navbar li button, .submitBtn button, .advSearch{
	/*width: 100px;*/
	height: 35px;
	border-radius: 5px;
	background-color: #3D4C61;
	border-bottom: 5px solid #313C4D;
	border-left:0;
	border-top: 0;
	border-right:0;
	color:#fff;
}
#addProperty{
	color:#2e5cb7;
}

.top-img, .bottom-img{
	width:100%;
	height:200px;
}
.bg-img{
	width:100%;
	height:auto;
}

h4{
	color:#fff;
	font-family:open-sans, roboto;
	margin-bottom:20px;
	font-size:20px;
}

.inner-container{
	background-color:#53614c;
	height:150px;
	position: absolute; 
	top:55%;
	left:28%;
	transform:translate(-55%,-28%);
	/*padding:20px;*/
}

.submitBtn button{
	/*width:120px;*/
	/*margin-top: -2px;*/
}

.headerPadding{
	padding-top:20px;
}

.btn-book-space{
	text-align: center;
}

/*.btnPad{
	margin-top:-8px;
}*/
.login-pad{
	margin-top:20px;
}
.sign-details{
	margin-top:12px;
}

.form-book-space{
	margin-top:20px;
}
.space-input{
	height: 30px;
    width: 250px;
}

.location, .capacity, .startTime, .endTime{
background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
-webkit-appearance: none;
}

.capacity{
	background-color:#c0c0c0;
	margin-bottom: 3px;
    border:1px solid black;
    height: 30px;
	border-radius:3px;
}

.location, .date-sel, .startTime, .endTime{
	height: 30px;
	border-radius:3px;
	border:0;
}

.wrapper{
	position:relative;
	width:100%;
}

.topbar{
	text-align: center;
}

.centerPane{
	width:60%;
}

.rightPane{
	width:30%;
}

.center{
	text-align:center;
	font-size:25px;
	color:blue;
	margin-top:20px;
}

.centerPane, .rightPane{
	min-height:550px;
	background-color:#c0c0c0;
	border:1px solid black;
}

.space-desc{
	height:30%;
	background-color:#c0c0c0;
}
.space{
	width:25%;
	display:inline-block;
	padding:10px;
}

/*to remove the spin button from calendar and picker indicator*/
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: #fff; }

.space-img{
	width:100%;
	height:200px;
	background-position: center center;
	background-size:cover;
}

.space-desc-form{
	text-align:center;
	background: #f3f3f3;
}

.amenity{
	border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: #c0c0c0;
}

.bottom{
	padding:10px;
}

.bottom label {
  /*display: inline-block;*/
  text-align: right;
}​

/*TODO: check for css to work*/
#js-space-desc-form .bottom label .space-input{
	width: 300px;
    padding: 5px;
}
.addSpace{
	width:100px;
	margin: 0 auto;
}

.spaceDetails{
	display:none;
}

.navbar li{
	display:inline;
	text-decoration:none;
	padding:10px;
}

.social-icons {
	overflow: auto;
	float:right;
}

.social-icons li {
	list-style-type: none;
	display:inline;
}

.social-icons li a i {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 10px;
	padding-top: 5%;
}

.footerTab{
	text-decoration: none;
}

.fa-facebook {
	background:#3b5998
} 
.fa-linkedin {
	background:#007bb6
}
.fa-twitter {
	background:#00aced
}

.social-icons li a i:hover {
	background:#add1ea;
}
.contactLink{
	float: left;
	color:#fff;
}

