*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html{   
	background-color:#FCFCFC;
}

.heading h1{
	font-size:40px;
	padding:5px;
	margin:0;
	font-family:'Unica One', 'tahoma', sans-serif;
}

.heading{
	padding-top:10px;
}

.search-form{
	padding-bottom:25px;
}

.home .includedContent {
    height: 580px;
    background: url(../images/pic3.jpg);
    background-size: cover;
    background-position: center;
}

.footer-content{
	padding-top: 20px;
	background-color: #4b4b4b;
	color:#fff;
}

footer{
	min-height:100px;
	background-color: #4b4b4b;
}

.homeLink{
	text-decoration: none;
	cursor:pointer;
	color:#000;
}

.icon{
	display:none;
	border:0;
	background-color: transparent;
}
.navbar li a{
	text-decoration:none;
	color:#000;
}

.hamburgerMenu ul li a{
	text-decoration:none;
	color:#fff;
}

.navbar li{
	list-style-type: none;
	display: inline;
	padding-left:20px;
	text-align: center;
}

.navbar li button, .submitBtn button, .advSearch{
	height: 35px;
	border-radius: 5px;
	background-color: #3D4C61;
	border-bottom: 5px solid #313C4D;
	border-left:0;
	border-top: 0;
	border-right:0;
	color:#fff;
}

.spaceAddress{
	text-decoration: none;
    color: #000;
    text-align: center;
}


.navbar li:hover{
    background-color: #3D4C61;
 }

.navbar li:hover a{
	color:#fff;
}

.hover{
	color:#fff;
}

.top-img, .bottom-img{
	width:100%;
	height:200px;
}
.bg-img{
	width:100%;
	height:auto;
}

h4{
	color:#fff;
	/*font-family:open-sans, roboto;*/
	margin-bottom:20px;
	font-size:20px;
}

.inner-container{
	background-color:#53614c;
	position: absolute; 
	top:55%;
	left:33%;
	transform:translate(-55%,-33%);
}

.headerPadding{
	padding-top:20px;
	padding-left:15px;
}

.aboutDiv{
	margin-top: 40px;
    margin-bottom: 60px;
}

.btn-book-space{
	text-align: center;
	padding-top: 20px;
}

.form-book-space{
	margin-top:20px;
}
.space-input{
	height: 30px;
    width: 250px;
}

.location, .capacity, .startTime, .endTime{
background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
-webkit-appearance: none;
}

.capacity{
	margin-bottom: 3px;
    border:1px solid gray;
    height: 30px;
	border-radius:3px;
}

.location, .date-sel, .startTime, .endTime{
	height: 30px;
	border-radius:3px;
	border:0;
}

.wrapper{
	position:relative;
	width:100%;
}

.topbar{
	padding-top:20px;
	text-align: center;
	padding-bottom:20px;
}

.centerPane{
	width:60%;
}

.rightPane{
	width:30%;
}

.center{
	text-align:center;
	font-size:25px;
	color:blue;
	margin-top:20px;
}

.centerPane, .rightPane{
	min-height:550px;
}

.space-desc{
	height:30%;
}
.space{
	width:25%;
	display:inline-block;
	padding:10px;
}

/*to remove the spin button from calendar and picker indicator*/
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: #fff; }

.space-img{
	width:100%;
	height:200px;
	background-position: center center;
	background-size:cover;
}

.space-desc-form{
	text-align:center;
	background: #f3f3f3;
}

.amenity{
	border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}

.bottom{
	padding:10px;
}

.bottom label {
  text-align: right;
}​

/*TODO: check for css to work*/
#js-space-desc-form .bottom label .space-input{
	width: 300px;
    padding: 5px;
}
.addSpace{
	width:100px;
	margin: 0 auto;
}

li#addSpace_link{
	display:none;
}

.navbar li{
	display:inline;
	text-decoration:none;
	padding:22px 0;
}

.social-icons {
	overflow: auto;
	float:right;
}

.social-icons li {
	list-style-type: none;
	display:inline;
}

.social-icons li a i {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 10px;
	padding-top: 5%;
}

.footerTab{
	text-decoration: none;
}

.aboutDiv, .textSpec{
    padding-top: 20px;
}

.aboutDiv h2{
	line-height: 45px;
    font-size: 35px;	
    font-family:'Unica One', 'tahoma', sans-serif;
}

.alignCenter{
	text-align: center;
}
.textSpec{
	color: #53614c;
    font-size: 25px;
    line-height: 30px;
}

.listSpec{
	font-size: 20px;
    line-height: 25px;
}

.listImg{
	padding-top:40px;
}

.hamburgerMenu{
	display:none;
    margin: 0;
    padding: 0;
    float: right;
}

.hamburgerMenu li{
	padding-bottom:5px;
	list-style-type: none;
}

.fa-bars{
	color:#000;
}

.fa-facebook {
	background:#3b5998
} 
.fa-linkedin {
	background:#007bb6
}
.fa-twitter {
	background:#00aced
}

.social-icons li a i:hover {
	background:#add1ea;
}
.contactLink{
	float: left;
	color:#fff;
}

.listDivider{
	border: none;
    height: 1px;
    background-color: #ccc;
}

.space-desc-form fieldset{
	border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 50px;
    border-left: none;
    border-right: none;
    border-bottom:none;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.navbar {display: none;}
  .icon {
    float: right;
    display: inline-block;
    cursor:pointer;
  }

}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  /*ul.navbar.responsive {width:100%;position: relative;background-color:#3D4C61;}*/
  .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .space-desc-form{
  	text-align:center;
  }

}

