*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html{
	background-color:#FCFCFC;
}

.search-form1{
	width:100%;
	position:relative;
}

.location,.date-sel,.submitBtn1{
	width:30%;
	position:relative;
}

.location,.date-sel{
	margin-right:10px;
}

.heading h1{
	font-size:40px;
	padding:5px;
	margin:0;
	font-family:'Unica One', 'tahoma', sans-serif;
}

.heading{
	padding-top:10px;
}

.search-form{
	padding-bottom:25px;
}

.home .includedContent1 {
		width:100%;
    height: 580px;
    background: url(../images/pic3.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
}

.footer-content{
	padding-top: 20px;
	background-color: #4b4b4b;
	color:#fff;
}

footer{
	min-height:100px;
	background-color: #4b4b4b;
}

.homeLink{
	text-decoration: none;
	cursor:pointer;
	color:#000;
}

.icon{
	display:none;
	border:0;
	background-color: transparent;
}
.navbar li a{
	text-decoration:none;
	color:#000;
}

.hamburgerMenu ul li{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #dddddd;
}

.hamburgerMenu ul li a{
	text-decoration:none;
	color:#000;
}

.hamburgerMenu li:hover{
	display: block;
	background: #3D4C61;
	border-bottom:1px solid #dddddd ;
}

.hamburgerMenu ul li a:hover{
	color: #fff;
}

.navbar li{
	list-style-type: none;
	display: inline;
	padding-left:20px;
	text-align: center;
}

.navbar li button, .submitBtn button, .advSearch{
	height: 35px;
	border-radius: 5px;
	background-color: #3D4C61;
	border-bottom: 3px solid #313C4D;
	border-left:0;
	border-top: 0;
	border-right:0;
	color:#fff;
}

.spaceAddress{
	text-decoration: none;
    color: #000;
    text-align: center;
}


.navbar li:hover{
    background-color: #3D4C61;
 }

.navbar li:hover a{
	color:#fff;
}

.hover{
	color:#fff;
}

.top-img, .bottom-img{
	width:100%;
	height:200px;
}
.bg-img{
	width:100%;
	height:auto;
}

h4{
	color:#fff;
	margin-bottom:20px;
	font-size:20px;
}

.inner-container{
	height:auto;
	width:50%;
	background-color:#53614c;
	position:absolute;
	top:55%;
	left:33%;
	transform:translate(-55%,-33%);
}

.inner-container1{
	background-color:#53614c;
	position:relative;
	width:50%;
	padding:20px;
	margin-top: 260px;
}

.headerPadding{
	padding-top:10px;
}

.aboutDiv{
	margin-top: 40px;
    margin-bottom: 60px;
}

.btn-book-space{
	text-align: center;
	padding-top: 20px;
}

.form-book-space{
	margin-top:20px;
}
.space-input{
	height: 30px;
    width: 250px;
}

.location, .capacity, .startTime, .endTime{
background: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
-webkit-appearance: none;
}

.capacity{
	margin-bottom: 3px;
    border:1px solid gray;
    height: 30px;
	border-radius:3px;
}

.location, .date-sel, .startTime, .endTime{
	height: 31px;
	border-radius:3px;
	border:0;
}

.wrapper{
	position:relative;
	width:100%;
}

.topbar{
	padding-top:20px;
	text-align: center;
	padding-bottom:20px;
}

.centerPane{
	width:60%;
}

.rightPane{
	width:30%;
}

.center{
	text-align:center;
	font-size:25px;
	color:blue;
	margin-top:20px;
}

.centerPane, .rightPane{
	min-height:550px;
}

.space-desc{
	height:30%;
}
.space{
	width:25%;
	display:inline-block;
	padding:10px;
}

/*to remove the spin button from calendar and picker indicator*/
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: #fff; }

.space-img{
	width:100%;
	height:200px;
	background-position: center center;
	background-size:cover;
}

.space-desc-form{
	text-align:center;
	background: #f3f3f3;
}

.amenity{
	border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}

.bottom{
	padding:10px;
}

.bottom label {
  text-align: right;
}​

/*TODO: check for css to work*/
#js-space-desc-form .bottom label .space-input{
	width: 300px;
    padding: 5px;
}
.addSpace{
	width:100px;
	margin: 0 auto;
}

li#addSpace_link{
	display:none;
}

.navbar li{
	display:inline;
	text-decoration:none;
	padding:22px 0;
}

.social-icons {
	overflow: auto;
	float:right;
}

.social-icons li {
	list-style-type: none;
	display:inline;
}

.social-icons li a i {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 10px;
	padding-top: 5%;
}

.footerTab{
	text-decoration: none;
}

.aboutDiv, .textSpec{
    padding-top: 20px;
}

.aboutDiv h2{
	line-height: 45px;
    font-size: 35px;
    font-family:'Unica One', 'tahoma', sans-serif;
}

.alignCenter{
	text-align: center;
}
.textSpec{
	color: #53614c;
    font-size: 25px;
    line-height: 30px;
}

.listSpec{
	font-size: 20px;
    line-height: 25px;
}

.listImg{
	padding-top:40px;
}

.hamburgerMenu{
	display:none;
    margin: 0;
    padding: 0;
    /*float: right;*/
}

.hamburgerMenu li{
	padding-bottom:5px;
	list-style-type: none;
}

.fa-bars {
	color:#000;
}

.contactLink {
	float: left;
	color:#fff;
}

.listDivider {
	border: none;
    height: 1px;
    background-color: #ccc;
}

.space-desc-form fieldset {
	border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 50px;
    border-left: none;
    border-right: none;
    border-bottom:none;
}

footer {
	width: 100%;
  min-height: 70px;
  padding: 20px;
}

footer div a {
  color: #fff;
	text-decoration: none;
}

footer div span i {
  color: red;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {

 .inner-container{
  		width:100%;
  		left:0;
  	}

  	.inner-container1{
  		width:100%;
  	}

  	.location, .inner-container1 .date-sel, .inner-container1 .submitBtn1 {
  		width: 100%;
  		margin-bottom:15px;
  	}

  	.inner-container span {
  		margin-bottom:15px;
  	}

  ul.navbar { display: none; }
  .space-desc-form{
  	text-align:center;
  }

  .icon {
  display:block;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  font-size:20px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
	}

  .hamburgerMenu {
  	z-index:999999;
  	font-size:18px;
  	width:100%;
  	background:#f1f1f1;
  	position:absolute;
  	text-align:center;
  	}

  	.fa{
  		margin-top:10px;
  	}

}

@media screen and (min-width:681px) {
	.hamburgerMenu{
		display:none !important;

	}
}

@media only screen and (min-width:681px) and (max-width: 840px) {
	.inner-container1{
  		width: 60%;
  	}
